<%= form_for([:audit, @question]) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :tooltip %>
    <%= form.text_field :tooltip %>
  </div>

  <div class="field">
    <%= form.hidden_field :audit_id, value: params[:audit_id] %>
  </div>


  <div class="actions">
    <%= form.submit "Submit Question", class: "button large primary expanded" %>
  </div>
<% end %>
